@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

/***MENU-NAVIGATION****/

:root{
  --hauteur-menu: 60px;
}

nav {
  width: 100%;
  font-size: 18px;
  position: sticky;
  top: 0;
}

nav > ul {
  display: flex;
  text-align: center;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  height: var(--hauteur-menu);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: black;
}

.menu-deroulant > a:after{
  content: 'â¯';
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}
.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 20px;
  width: 100%;
  align-items: center;
  display: flex;
}

nav > ul > li:hover > a{
  color: #C57979;
}
.sous-menu > li:hover {
  background-color: #C57979;
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
.menu-deroulant:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0 ,0);
    border-top: 3px solid #C57979;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #C57979;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}
.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}



/***BODY***/



body{
	background: linear-gradient(to right, #CB887A, #E2D0CD);
}
.img_holder{
	 width: 200px;
	 height: auto;
}

.logosite {
  padding: 2rem;
  background-image: url('images/banner.jpg');
}

.resume{
	width: 80vw;
	background: #fff;
	margin: 10px auto;
	display: flex;
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: #D18271;
	position: relative;
	text-align: left;
	margin-bottom: 15px;
}

.left{
	background: #E7D7D3;
	width: 360px;
	padding: 65px;
	max-width: fit-content;
	
}

.right{
	width: calc(110% - 250px);
}

.left .img_holder{
	text-align: center;
	padding: 20px 0;
}

.left .img_holder img{
	width: 150px;
	border-radius: 30px;
}

.left .icon{
	font-size: 20px;
	color: #CC968B;
}

.left .text{
	color: #CC968B;
	text-transform: uppercase;
	font-size: 13px;
	max-width: fit-content;
}

.contact .li_wrap{
	display: flex;
	align-items: center;
	width: 200%;
	margin-bottom: 25px;
}

.contact .li_wrap .icon{
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}

.contact .li_wrap .text{
	width: calc(100% - 60px);
	word-break: break-word;
	color: #030303;
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.skills .li_wrap{
	background: #fff;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
}

.hobbies .li_wrap{
	border: 2px solid #fff;
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: #fff;
}

.hobbies .li_wrap:hover{
	background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: #B67D70;
}

.header{
	background: #FDF5F3;
	padding: 2vw;
	color: #070707;
	

}

.header .name{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: #C57979;
}

.header .role{
	font-weight: 300;
	font-size: 30px;
}

.header .about{
	margin-top: 40px;
	line-height: 26px;
	font-size: 20px;
}

.right_inner{
	padding: 1vw;
	color: #292b2f;
}

.right_inner .education{
	margin-top: 30px;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
	
}

.right_inner .li_wrap .date {
    width: 11vw;
    color: #9153c9;
    
}

.right_inner .li_wrap .info{
	width: calc(110%  - 125px);
	padding-left: 25px;
	
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	
	letter-spacing: 2px;
	color: #9153c9;
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-weight: bold;
	margin-top: 10px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 20px;
	
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 4px;
	width: 10px;
	height: 10px;
	background: #9153c9;
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 100%;
	background: #9153c9;
}

/***FOOTER***/

#footer {
  border: #F8F0EC 1px solid;
  background-image: url('images/footer.jpg');
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-logos {
  margin: 0.2rem;
}

.footer-logos i {
  text-decoration: none;
  color: #F8F0EC;
  font-size: 2rem;
}

.footer-logos i:hover {
  color: #333231;
}

.footer-image {
  padding: 0.3rem;
  float: left;
}








