

h1 {
    background-color: rgb(240, 240, 240);   
    text-align: center;
}

.left {
    display: flex;
}

p {
    line-height: 35px;
}

/* Left Section*/

.h1_left {
    text-align: center;
    background-color: rgb(240, 240, 240);   
    border-top: 1px solid;
    border-left: 1px solid;
}

.div_left {
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #d4d4d4;
    margin-right: 1rem;
    padding: .5rem;
    width: 25%;
    border-top: 1px solid ;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

.p_left::first-letter {
    float: left;
    font-size: 4rem;
    font-weight: bold;
    padding-right: 1rem;
}

/* Middle Section*/

.h1_middle_high{
    width: 50%;
    margin-left: 50%;
    margin-right: -50%;
}

.div_middle {
    padding: 1rem;
    background-color: rgb(190, 190, 190);
    border: 1.5px dashed black;
}

.div_middle_high{
  border-top: 1px solid;
    background-color: rgb(212, 212, 212);  
}

.div_middle_lower {
    background-color: rgb(212, 212, 212);
    border-bottom: 1px solid;
}

.h1_middle_lower {
    background-color: rgb(212, 212, 212);
    width: 25%;
    text-align: right;
    font-style: italic;
    float: right;
    padding-right: 1rem;
}

.p_middle_lower {
    clear: right;
    margin: 0 auto;
    padding: .5rem;
    width: 66%;
    text-align: justify;
    border-left: solid;
    border-right: solid;




